<div id="header">

  <ul>
    <li><%= link_to "Consulting", consult_index_path %></li>
    <li id="current"><%= link_to "C.V.", cv_index_path %></li>
    <li><%= link_to "Projects", projects_index_path %></li>
    <li><%= link_to "About", home_index_path %></li>
  </ul>
</div>

<div id="contents">
<div id="main">
<div id="leftcol">
<p><a href="http://dl.dropbox.com/u/28839629/pdfs/allnutt_cv.pdf">Download C.V. (0.15 MB .pdf)</a></p>
<p><a href="http://www.chorographics.com/cv/index.html#exp">Experience</a></p>
<p><a href="http://www.chorographics.com/cv/index.html#pub">Publications</a></p>
<br />
</div>

<div id="rightcol"><h2>Curriculum vitae</h2>
<p>See <a href="http://www.chorographics.com/cv/index.html#pub">below</a> for list of publications</p>
<p>Tom Allnutt<br>
c/o Wildlife Conservation Society<br>
Projet REBIOMA<br>
Antananarivo, Madagascar</p>
email: <a href="mailto:chorographics@gmail.com">chorographics@gmail.com</a>

<p><strong>Objective</strong><br>
Spatial analysis and technology to support biodiversity conservation</p>

<p><strong>Education</strong><br>
University of Maryland, College Park, MD<br>
Master of the Arts, Geography, 1997<br>
Thesis: "Population viability and reserve expansion in coastal Brazil:
Contributions of remote sensing and geographic information systems". <a href="http://dl.dropbox.com/u/28839629/pdfs/thesis_abs.pdf" target="_blank">Link to abstract</a> (58 KB .pdf)<br>
Describes use of remote sensing to identify sufficient forest around
the Una biological reserve for a viable population of golden-headed
lion tamarins, an IUCN critical species.</p>

<p>Boston University, Boston, MA<br>
Bachelor of the Arts, September 1991, cum laude<br>
Major: Physical Geography   Minor: Biology</p>

<p id="exp"><strong>Experience</strong></p>

<p><strong>2008 - present<br>
REBIOMA (UNIVERSITY OF CALIFORNIA, WILDLIFE CONSERVATION SOCIETY) Berkeley, CA, Antananarivo, Madagascar<br>
Biodiversity Informatics/Conservation Planning Specialist</strong><br>
Providing technology and data to improve biodiversity conservation in Madagascar<br>
<ul>
<li>National, regional and marine conservation planning to identify new protected areas under the Durban Vision, a plan to triple protected area coverage in Madagascar</li>
<li>Data and information management for <a href="http://www.rebioma.net">Rebioma</a> online conservation data portal and modeling tool</li>
<li>Work with development team to design, implement and test Rebioma portal features</li>
<li>Species distribution modeling of threatened terrestrial and marine species</li>
<li>Mapping illegal logging and forest disturbance within protected areas</li>
</ul>
</p>

<p><strong>2005 - 2008<br>
INDEPENDENT CONSULTANT, Washington, DC, Irvine, CA and Albuquerque, NM</strong><br>
GIS, technical support, and technical writing for clients including
Irvine Ranch Conservancy, World Wildlife Fund-US (WWF-US),
WWF-Senegal/GEF, WWF-Madagascar, WWF-Guianas, Conservation
International-Madagascar, and US Agency for International Development
(USAID).<br>
</p><ul>
<li>GIS system design and implementation of <a href="http://www.chorographics.com/projects/index.html#IRC">online GIS library</a></li>
<li>Development of biodiversity database and monitoring system for <a href="http://www.chorographics.com/projects/index.html#Gambia">The Gambia</a></li>
<li>Development of <a href="http://www.chorographics.com/projects/index.html#Global">GIS-based decision-support tool</a> for setting global conservation priorities</li>
<li>Support for USAID funded biodiversity planning in <a href="http://www.chorographics.com/projects/index.html#Durban">Madagascar</a></li>
<li>Technical assistance for ecoregion-scale spatial analysis and planning in the <a href="http://www.chorographics.com/projects/index.html#Guianas">Guianas</a></li>
<li>Development and application of GIS-based <a href="http://www.chorographics.com/projects/index.html#Marxan">decision-support tools for conservation</a></li>
</ul>
See <a href="http://www.chorographics.com/projects/index.html">projects</a> page for more details.

<p><strong>1998 - 2005<br>
WORLD WILDLIFE FUND, Conservation Science Program, Washington, DC<br>
Senior Conservation Specialist (2000-2005)<br>
Conservation Analyst (1998-2000)</strong><br>
Research, writing, analysis and training to support global and regional conservation programs.
</p><ul>
<li>Conservation priority setting: GIS, remote sensing, research, map production, and writing to identify conservation priorities at multiple scales</li>
<li>Conservation tools: Gap analysis, biodiversity measurement and mapping, use of decision-support tools for reserve design</li>
<li>Training: Conduct trainings in GIS and conservation methods for regional staff and partners</li>
<li>Management experience: Manage multiple interns and volunteers</li>
</ul>

<p><strong>1996 - 1997<br>
WORLD WILDLIFE FUND, Conservation Science Program, Washington, DC<br>
GIS Consultant (part time)</strong><br>
Map production and GIS analysis in support of Russian Far-East,
Himalayan and other ecoregion-based conservation initiatives, using
image and vector data in IDRISI and ArcInfo<br>

</p><p><strong>1996 - 1997<br>
GEOGRAPHY DEPARTMENT, University of Maryland, College Park, MD<br>
Graduate Research Assistant, Pathfinder Project</strong><br>
Member of NASA-funded team mapping global extent of humid
tropical forest from Landsat. Image classification, generation of
vegetation indices, band transformations, signature reports and image
statistics<br>

</p><p><strong>Summer 1996<br>
GEOGRAPHY DEPARTMENT, University of Maryland, College Park, MD<br>
GIS Assistant<br></strong>
Analysis of a large historical shoreline database using AUTOCAD, ArcInfo, and AML<br>

</p><p><strong>Winter 1996<br>
GEOGRAPHY DEPARTMENT, University of Maryland, College Park, MD<br>
Teaching Assistant<br></strong>
Responsible for six weekly "discussion sections" of introductory geography lecture<br>

</p><p><strong>Summer 1994<br>
ASHLEY NATIONAL FOREST, Roosevelt UT<br>
Wildlife Technician<br></strong>
Survey for Flammulated Owl, Northern Goshawk, Three-Toed Woodpecker and songbirds<br>


</p><p><strong>Other Skills and Experience<br>
Computer</strong><br>
Formal GIS and image processing training. ArcGIS, ArcInfo, ArcView,
ERDAS, MapInfo, and IDRISI. Image processing experience using PCI,
ERDAS Imagine, ENVI, IDRISI. Statistical training, including S-Plus and
SAS. Programming experience in Visual Basic, Ruby, Avenue, and AML.
Reserve design using Marxan, C-Plan, and SITES. Cartographic training
and experience.<br>

</p><p><strong>Recent training and coursework</strong><br>
Ruby (2007), Ruby on Rails (2007), .ASP and C# (2007), C++ (2006), Java (2006), ArcObjects/VBA (2006),Visual Basic (2001).</p>

<p>Click <a href="http://dl.dropbox.com/u/28839629/etc/calculate_species_richness.mxt">HERE</a>
(.15 MB .mxt file) to download an ArcGIS template for calculating
species richness from polygon based species distribution maps. This
tool was programmed in ArcGIS using VBA.</p>

<p>Click <a href="http://dl.dropbox.com/u/28839629/etc/wwf_gap.zip">HERE</a>
(1.6 MB .zip file) to download an ArcView 3.x extension that serves as
an interface for MARXAN. This extension has recently been used for
conservation planning in Madagascar, the Guianas, DRC and elsewhere.
This extension was programmed using Avenue in ArcView 3.x. More about
this project can be found <a href="http://www.chorographics.com/projects/index.html#Marxan">here</a>.</p>

<p>[Disclaimer: By clicking on the preceding links, the user
understands that this software is provided "as is", and that no
warranty of any kind is given or implied]</p>

<p><strong>Interests</strong><br>
Music, bicycles, birding, ultimate frisbee, natural history, apiculture.

</p><p><strong>Languages</strong><br>
French (studied from age 8 to 19, including 2 college semesters), Spanish (conversational).</p>
<br>
<p id="pub"><h2>Publications</h2></p>
<p>Allnutt, T.F., T.R. McClanahan, S. Andréfouët, M. Baker, E. Lagabrielle, C. McClennen, A.J.M. Rakotomanjaka, T.F. Tianarisoa, R. Watson, C. Kremen. 2012. <a href="http://www.plosone.org/article/fetchObjectAttachment.action;jsessionid=499EA256E6E67B1802C0F23F17FB9DD7?uri=info%3Adoi%2F10.1371%2Fjournal.pone.0028969&representation=PDF" target="_blank">Comparison of marine spatial planning methods in Madagascar demonstrates value of alternative approaches</a>. PLoS ONE 7(2): e28969. doi:10.1371/journal.pone.0028969

<p>Olson, D., L. Farley, A. Patrick, D. Watling, M. Tuiwawa, V. Masibalavu, L. Lenoa, A. Bogiva, I. Qauqau, J.
Atherton, A. Caginitoba, M. Tokota'a, S. Prasad, W. Naisilisili, A. Raikabula, K. Mailautoka, C. Morley, T.
Allnutt. 2009. <a href="http://dl.dropbox.com/u/28839629/pdfs/olson_et_al_2009.pdf" target="_blank">Priority forests for conservation in Fiji: landscapes, hotspots and ecological processes</a>. Oryx,
44(1):57-70. (.43 MB .pdf)</p>

<p>Allnutt, T.F., S. Ferrier, G. Manion, G.V.N. Powell, T.H. Ricketts, B.L. Fisher, G.J. Harper, M.E. Irwin, C. Kremen, J-N. Labat, D.C. Lees, T.A. Pearce, and F. Rakotondrainibe. 2008. <a href="http://dl.dropbox.com/u/28839629/pdfs/allnutt_et_al_2008.pdf" target="_blank">A method for quantifying biodiversity loss and its application to a 50-year record of deforestation across Madagascar</a>. Conservation Letters 1:173-181. (4.1 MB .pdf)</p>

<p>Kark, S., T.F. Allnutt, N. Levin, L.L. Manne, and P.H. Williams. 2007. <a href="http://dl.dropbox.com/u/28839629/pdfs/kark_allnutt_et_al_2007.pdf" target="_blank">The role of areas of transition as avian biodiversity centers</a>. Global Ecology and Biogeography, 16: 187–196. (0.7 MB .pdf)</p>

<p>Allnutt, T.F., Dia, I.M. and Touray, O. 2007. <a href="http://dl.dropbox.com/u/28839629/pdfs/Monitoring System Final Report.pdf" target="_blank">Biodiversity Monitoring System and Database for The Gambia</a>. Unpublished report. (0.2 MB .pdf)</p>

<p>Schipper, J., G. Clarke, and T. Allnutt. 2007. <a href="http://dl.dropbox.com/u/28839629/pdfs/schipper_et_al_2007.pdf" target="_blank">Conservation Planning in a Tropical Wilderness: Opportunities and Threats in the Guianan Ecoregion Complex</a>.
In: Watson, A., Sproull, J., Dean, L., comps. Science and stewardship
to protect and sustain wilderness values: 8th World Wilderness Congress
symposium: September 30–October 6, 2005; Anchorage, AK. Proceedings
RMRS-P-49. Fort Collins, CO: U.S. Department of Agriculture, Forest
Service, Rocky Mountain Research Station. (2.0 MB .pdf)</p>

<p>Mace, G.M., et al. 2005. <a href="http://dl.dropbox.com/u/28839629/pdfs/mace_et_al_2005.pdf" target="_blank">Biodiversity</a>. In: N.J. Ash, R. Hassan, and R. Scholes, eds. Millennium Ecosystem Assessment. Ecosystems and human
well-being, v.1: Current state and trends. Island Press, Washington. (1.9 MB .pdf)</p>

<p>Allnutt, T. 2005. <a href="http://dl.dropbox.com/u/28839629/pdfs/allnutt%20forest%20landsape%20restoration%202005.pdf" target="_blank">Mapping and modelling as tools to set targets, identify opportunities and measure progress</a>. In: S. Mansourian et al., eds. Forest Landscape Restoration Resource Manual. Springer. Dresden.</p>

<p>Ferrier, S., G.V.N. Powell, K.S. Richardson, G. Manion, J.M.
Overton, T.F Allnutt, et al. 2004. <a href="http://dl.dropbox.com/u/28839629/pdfs/ferrier_et_al_2004.pdf" target="_blank">Mapping More of Terrestrial Biodiversity for Global Conservation Assessment: A New Approach to
Integrating Disparate Sources of Biological and Environmental Data</a>. BioScience 54(12): 1101-1109</a>. (0.7 MB .pdf)</p>

<p>Allnutt, T. F., E. D. Wikramanayake, E. Dinerstein, C. Loucks, R. Jackson, and C. Carpenter. 2004. <a href="http://dl.dropbox.com/u/28839629/pdfs/allnutt_et_al_2004.pdf" target="_blank">Protected Areas in the Himalaya</a>. In: Yonzon et al., Eds. People and Protected Areas in South Asia. UNEP. (0.5 MB .pdf)</p>

<p>Moore, J., A. Balmford, T. Allnutt and N. Burgess. 2004. <a href="http://dl.dropbox.com/u/28839629/pdfs/moore_et_al_2004.pdf" target="_blank">Integrating costs into conservation planning across Africa</a>. Biological Conservation 117: 343-350. (0.3 MB .pdf)</p>

<p>Ridgely, R.S., T.F. Allnutt, T.M. Brooks, D.K. McNicol, D. Mehlman, B.E. Young, and J.R. Zook. 2007. <a href="http://www.natureserve.org/getData/birdMaps.jsp" target="_blank">Distribution Maps of Western Hemisphere Birds, version 3.0</a>. NatureServe, Arlington, Virginia, USA.</p>

<p id="PubsChihuahua">Allnutt, T., Wettengel, W., Reyna, J.V., de Leon
Garcia, R.C., Inigo Elias, E.E., Olson, D.M. 2002. <a href="http://dl.dropbox.com/u/28839629/pdfs/allnutt_et_al_2002.pdf" target="_blank">The efficacy of TM satellite imagery for rapid assessment of Chihuahan xeric habitat
intactness for ecoregion-scale conservation planning</a>. Journal of Arid Environments 52(1):138. (0.7 MB .pdf)</p>

<p>Malcolm, J.R., Liu, C., Miller, L.B., Allnutt, T., Hansen, L. 2002.
Habitats at Risk: Global Warming and Species Loss in Globally
Significant Terrestrial Ecosystems. WWF International, Gland.</p>

<p>Lamoreux, J.F., Brooks, T.M., and Allnutt, T.F. 2001. Endemic Mammal
Areas of Africa. Poster presentation at the 2001 Society for
Conservation Biology annual meeting, Hilo, HI.</p>

<p>Olson D.M., Dinerstein, E., Wikramanayake, E.D., Burgess, N.D.,
Powell, G.V.N, Underwood, E.C., D'amico, J.A., Itoua, I., Strand, H.E.,
Morrison, J.C., Loucks, C.J., Allnutt, T.F., Ricketts, T.H., Kura Y.,
Lamoreux, J.F., Wettengel, W.W., Hedao, P. and Kassem, K.R. 2001.<a href="http://dl.dropbox.com/u/28839629/pdfs/olson_et_al_2001.pdf" target="_blank">
Terrestrial Ecoregions of the World: A New Map of Life on Earth</a>. BioScience 51:11 pp. 933-938. (1.1 MB .pdf)</p>

<p>Abell, R., D.M. Olson, E. Dinerstein, P. Hurley, W. Eichbaum, S.
Walters, W. Wettengel, T. Allnutt, and C. Loucks. 1999. A conservation
assessment of the freshwater ecoregions of North America. Island Press,
Washington DC.</p>

<p>Allnutt, T. 1999. Priorities for conservation in the Neotropics: The contribution of avifauna to the selection
of globally outstanding ecoregions. Paper presented at the 6th Neotropical Ornithological Conference, Monterrey, Mexico.</p>

<p>Allnutt, T. 1998. Land cover change and population viability in the
Atlantic Forest, Brazil: Contributions of remote sensing and GIS.
Poster presentation at the 1998 Society for Conservation Biology annual
meeting, Sydney, Australia.</p>

<p>Submitted or in prep:<br> Allnutt et al. When is simple better? A comparison of marine spatial planning methods in Madagascar.</p>

<br>
<a href="http://www.chorographics.com/cv/index.html">Return to top</a>

</div>
</div>
</div>

<%= render 'layouts/footer' %>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1151606-1";
urchinTracker();
</script>
